<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" type="image/png" href="/templates/icon.png" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex justify-center">
    <div class="text-xl max-w-2xl w-full">
        <ul class="flex bg-black w-full p-2.5 space-x-4 items-center">
            <li><img class="h-7" src="/templates/icon.png" alt=""></li>
            <li><a class="text-white" href="{{ url }}">Home</a></li>
            <!-- <li><a class="text-white" href="{{ url_tg }}"><img class="h-7" src="/templates/tg.png" alt=""></a></li> -->
        </ul>
        {% if index == 1 %}
            <ul class="m-2.5">
                {% for category in categories %}
                    {% if category.type == 0 %}
                        <li><a class="underline" href="{{ category.title.replace(' ', '-') }}">{{ category.title }}</a></li>
                    {% else %}
                        <p class="text-slate-500 text-2xl my-2 ">{{ category.title }}</p>
                    {% endif %}
                {% endfor %}
            </ul>
        {% elif index == 2 %}
            <ul class="m-2.5">
                {% for blog in blogs %}
                    <li><a class="underline" href="{{ title.replace(' ', '-') }}/{{ blog.title.replace(' ', '-') }}">{{ blog.title }}</a></li>
                {% endfor %}
            </ul>
        {% elif index == 3 %}
            <div class="m-2.5">
                <div>
                    <p class="text-3xl">{{ title }}</p>
                    <p class="text-sm">{{ date }}</p>
                    <br>
                </div>
                <div id="pythonTextContainer"></div>
            </div>
        {% endif %}
    </div>
    <script>
        const pythonText = `{{ contents | safe }}`;
        const container = document.getElementById("pythonTextContainer");
        if (pythonText) {container.innerHTML = pythonText;}
    </script>
</body>
</html>