<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" type="image/png" href="/templates/icon.png" />
    <link rel="stylesheet" href="/templates/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul>
                <li><img src="/templates/icon.png" alt=""></li>
                <li><a class="active" href="{{ url }}">Home</a></li>
            </ul>
        </div>
        {% if index == 1 %}
            <ul>
                {% for category in categories %}
                    {% if category.type == 0 %}
                        <li id="li-category"><a href="{{ category.title.replace(' ', '-') }}">{{ category.title }}</a></li>
                    {% else %}
                        <p id="p-category">{{ category.title }}</p>
                    {% endif %}
                {% endfor %}
            </ul>
        {% elif index == 2 %}
            <ul>
                {% for blog in blogs %}
                    <li id="li-category"><a href="{{ title.replace(' ', '-') }}/{{ blog.title.replace(' ', '-') }}">{{ blog.title }}</a></li>
                {% endfor %}
            </ul>
        {% elif index == 3 %}
            <div id="pythonTextContainer"></div>
        {% endif %}
    </div>
    <script>
        const pythonText = `{{ contents | safe }}`;
        const container = document.getElementById("pythonTextContainer");
        if (pythonText) {
            container.innerHTML = pythonText; 
        }
    </script>
</body>
</html>